@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", Sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}
header .leftside * {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}
.slide {
  height: 100vh;
  background-size: cover !important;
  color: white;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.slide .title {
  font-size: 61px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.7px;
  padding: 0px 0px 043px 0px;
}
.slide .body {
  align-self: flex-start;
  text-align: left;
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 0px 0px 030px 0px;
}
.status{
    height: 100vh;
    padding:100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.status *{
    text-align: center;
}
.status-header{
    color: #2D2E2E;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2em;
}
.statusDivider{
    height: 5px;
    background: black;
    width: 5%;
}
.status .description{
    max-width: 700px;
    color: #888888;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
}
.statusContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}
.sec{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secIcon{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border:3px solid rgb(226, 219, 219);
}
.secInfo{
    color: #B80924;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.secName{
    color: #2D2E2E;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7em;
}
